<html lang="en">

<head>
    <link rel="stylesheet" href="/style.css">
    <title>Welcome</title>
</head>

<body>
    <div class="rootCont">
        <a href="/user/login"><button class="button">Login</button></a>
        <a href="/user/signup"> <button class="button">Register</button> </a>
    </div>
</body>

</html>