<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pricing</title>
    <link href="/css/style2.css" rel="stylesheet" />
    <script src="/js/scripts.js"></script>
</head>

<body>
    <div id="layoutDefault">
        <div id="layoutDefault_content">
            <main>
                <!-- Page Header-->
                <header class="page-header page-header-dark bg-gradient-primary-to-secondary">
                    <div class="page-header-content pt-10">
                        <div class="container text-center">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <h1 class="page-header-title mb-3">Pricing</h1>
                                    <p class="page-header-text">Our product, priced to fit your specific needs</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="svg-border-rounded text-light">
                        <!-- Rounded SVG Border--><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34"
                            preserveAspectRatio="none" fill="currentColor">
                            <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
                        </svg>
                    </div>
                </header>
                <section class="bg-light py-10">
                    <div class="container">
                        <div class="text-center mb-5">
                            <h2>Simple Pricing</h2>
                            <p class="lead">Easy pricing means no suprises.</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 mb-5 mb-lg-0">
                                <div class="card pricing h-100">
                                    <div class="card-body p-5">
                                        <div class="text-center">
                                            <div class="badge badge-light badge-pill badge-marketing badge-sm">Free
                                            </div>
                                            <div class="pricing-price"><sup>$</sup>0<span
                                                    class="pricing-price-period">/mo</span></div>
                                        </div>
                                        <ul class="fa-ul pricing-list">
                                            <li class="pricing-list-item">
                                                <span class="fa-li"><i
                                                        class="far fa-check-circle text-teal"></i></span><span
                                                    class="text-dark">1 user</span>
                                            </li>
                                            <li class="pricing-list-item">
                                                <span class="fa-li"><i
                                                        class="far fa-check-circle text-teal"></i></span><span
                                                    class="text-dark">Community support</span>
                                            </li>
                                            <li class="pricing-list-item">
                                                <span class="fa-li"><i
                                                        class="far fa-circle text-gray-200"></i></span>Style customizer
                                            </li>
                                            <li class="pricing-list-item">
                                                <span class="fa-li"><i
                                                        class="far fa-circle text-gray-200"></i></span>Custom components
                                            </li>
                                            <li class="pricing-list-item">
                                                <span class="fa-li"><i
                                                        class="far fa-circle text-gray-200"></i></span>Expanded
                                                utilities
                                            </li>
                                            <li class="pricing-list-item">
                                                <span class="fa-li"><i
                                                        class="far fa-circle text-gray-200"></i></span>Third-party
                                                integration
                                            </li>
                                            <li class="pricing-list-item">
                                                <span class="fa-li"><i
                                                        class="far fa-circle text-gray-200"></i></span>Layout options
                                            </li>
                                            <div class="pricing-list-item">
                                                <div class="pricing-list-item">
                                                    <button disabled style="margin-top: 39px; width: 150px;"
                                                        class="btn btn-primary">Your Current Plan</button>
                                                </div>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-5 mb-lg-0">
                                <div class="card pricing h-100">
                                    <div class="card-body p-5">
                                        <div class="text-center">
                                            <div
                                                class="badge badge-primary-soft badge-pill badge-marketing badge-sm text-primary">
                                                Premium</div>
                                            <div class="pricing-price"><sup>$</sup>19<span
                                                    class="pricing-price-period">/mo</span></div>
                                        </div>
                                        <ul class="fa-ul pricing-list">
                                            <li class="pricing-list-item">
                                                <span class="fa-li"><i
                                                        class="far fa-check-circle text-teal"></i></span><span
                                                    class="text-dark">Up to 15 users</span>
                                            </li>
                                            <li class="pricing-list-item">
                                                <span class="fa-li"><i
                                                        class="far fa-check-circle text-teal"></i></span><span
                                                    class="text-dark">Email and live chat support</span>
                                            </li>
                                            <li class="pricing-list-item">
                                                <span class="fa-li"><i
                                                        class="far fa-check-circle text-teal"></i></span><span
                                                    class="text-dark">Style customizer</span>
                                            </li>
                                            <li class="pricing-list-item">
                                                <span class="fa-li"><i
                                                        class="far fa-check-circle text-teal"></i></span><span
                                                    class="text-dark">Custom components</span>
                                            </li>
                                            <li class="pricing-list-item">
                                                <span class="fa-li"><i
                                                        class="far fa-check-circle text-teal"></i></span><span
                                                    class="text-dark">Expanded utilities</span>
                                            </li>
                                            <li class="pricing-list-item">
                                                <span class="fa-li"><i
                                                        class="far fa-check-circle text-teal"></i></span><span
                                                    class="text-dark">Third-party integration</span>
                                            </li>
                                            <li class="pricing-list-item">
                                                <span class="fa-li"><i
                                                        class="far fa-check-circle text-teal"></i></span><span
                                                    class="text-dark">Layout options</span>
                                            </li>
                                            <div class="pricing-list-item">
                                                <div class="pricing-list-item">
                                                    <form style="margin-top: 30px;" action="/payment" method="POST">
                                                        <script src="//checkout.stripe.com/v2/checkout.js"
                                                            class="stripe-button"
                                                            data-key="<%= apiKey %>""
                                                            data-amount="1900" data-currency="usd"
                                                            data-name="Sun Estate" data-description="Premium Plan"
                                                            data-locale="auto">
                                                            </script>
                                                    </form>
                                                </div>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                </section>
            </main>
        </div>
    </div>
</body>

</html>